.footer {
  position: relative;
  padding: 63px 0 32px;
  text-align: center;
}
.footer_inner {
  box-sizing: border-box;
}
.footer .text {
  font-size: 11px;
  line-height: 15px;
  color: var(--gray-font);
}

/* 
* ul 사용자 에이전트에서 자동으로 40px 들어가서 
* 제거해버림
*/
.footer ul {
  padding-left: 0;
}
