/* 로그인 */
:root {
  --main-color: #000;
  --point-color: rgb(26, 129, 0);
  --sub-color: #fff;
  --back-color: rgba(250, 247, 243, 0.959);
  --white-font: rgb(253, 245, 245);
  --gray-font: rgb(155, 153, 151);
}

@font-face {
  font-family: "MabinogiClassicR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GilbeotRainbow";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.special_font {
  font-family: "MabinogiClassicR";
}

.simple_font {
  font-family: "Pretendard-Regular";
  color: rgb(29, 26, 26);
}

body {
  background-color: var(--back-color);
}
ol,
ul {
  list-style: none;
}
.header {
  margin-top: 108px;
  padding-bottom: 48px;
  box-sizing: border-box;
}
.header_inner {
  text-align: center;
  font-size: 3em;
  font-family: "MabinogiClassicR";
}

.page_title {
  margin-top: 58px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.page_title_inner {
  text-align: center;
  font-size: 2em;
  font-family: "MabinogiClassicR";
}
.wrap {
  position: relative;
  min-height: 100%;
  /* 일단 푸터떄문에 height 말구 min-height 사용 */
  letter-spacing: -0.2px;
}

.container_inner {
  padding: 20px 28px;
}
.login_wrap {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.btn_login {
  display: block;
  width: 100%;
  padding: 13px 0 13px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: var(--point-color);
  box-sizing: border-box;
}
.btn_login:first-child {
  margin-bottom: 5px;
}

.btn_text {
  font-size: 14px;
  color: var(--white-font);
}

.input_text {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3em;
  margin: 0 8px;
  padding: 5px 39px 5px 11px;
  border: solid 1px #dadada;
  background: #fff;
  box-sizing: border-box;
  border-radius: 5px;
}
.table_container {
  /* background: rgb(255 250 250); */
  background: rgb(255, 252, 252);
}

.table_wrap {
  display: flex;
  flex-direction: column;
}

table {
  /* background: rgb(255, 250, 250); */
  /* padding: 0 20px; */
  text-align: left;
  border-spacing: 0 10px;
}

table td {
  padding-right: 10px;
  min-width: 5%;
}
/* table td#small_td {
  max-width: 10px !important;
} */

table td:last-child {
  flex-grow: 1;
  min-width: 60%;
}
